doctype html
html
    head
        meta(charset='utf-8')
        title DRP Editor
        meta(name='description' content='DRP(diffuse reflectance profile) editor for subsurface scattering')
        script(src="main.js") 
    body
        canvas#canvas


